<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plataforma Integrada DISEC</title>
    <link rel="icon" href="@Url.Content("~/img/favicon.ico")" type="image/x-icon">

    <!-- Global stylesheets -->
    @Styles.Render("~/bundle/LoginCss")
    <!-- /global stylesheets -->
    <!-- Core JS files -->
</head>

<body class="login-container" onload="NoRegresarBoton();">
    <!-- Imagen de fondo -->
    <img class="login-cover" src="@Url.Content("~/img/login_back2.jpg")" />

    <!-- Contenedor Página -->
    <div class="page-container" >

        <!-- Contenido Página -->
        <div class="page-content" >
            <!-- /Contenido principal -->
            <div class="content-wrapper">
                <!-- Área de contenido -->
                <div class="content pb-20" id="particles-js">
                    @RenderBody()
                </div>
                <!-- /área de contenido-->
            </div>
            <!-- /contenido principal -->
        </div>
        <!-- /contenido Página -->
    </div>
    <!-- /contenedor Página -->

    @*@Scripts.Render("~/bundle/LoginJs")*@
    <!-- /theme JS files -->
    @RenderSection("scripts", required: false)

    <!-- Script para deshabilitar el botón de regresar del explorador -->
    <script type="text/javascript">
        function NoRegresarBoton() {
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button"; //Chrome
            window.onhashchange = function () { window.location.hash = "Bienvenido_a_la_Plataforma_Integrada_de_Informacion_de_la_Dirección_de_Seguridad_Ciudadana"; }
        }
    </script>
</body>
</html>
