@model Comun.DreamHome.OficinasDTO

@{
    ViewBag.Title = "Crear";
}

@section styles{
    @Styles.Render("~/Content/FormularioCss")
}

@section scripts{
    @Scripts.Render("~/bundles/FormularioJs")
}

<section class="content-header">
    <h1>
        Crear oficina
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="active">Listar</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-md-12" id="notificacion"></div>
    </div>

    @using (Html.BeginForm())
    {
        <!-- Datos básicos-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-header with-border">
                        <div class="text-right">
                            <div class="col-md-6 text-left">
                                <h3 class="box-title"><i class="fa fa-file-text-o"></i> Datos básicos Oficinas</h3>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-body">
                        <div class="form-group-sm">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("Nombre oficina", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.OFICINA, new { htmlAttributes = new { @class = "form-control", type = "text", @placeholder = "Digite el nombre de la oficina" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("Ciudad", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.DropDownList("IDF_CIUDAD_OFC", null, String.Format("Seleccione una ciudad"), htmlAttributes: new { @class = "form-control select2", style = "width: 100%;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("Dirección", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.DIRECCION_OFC, new { htmlAttributes = new { @class = "form-control", type = "text", @placeholder = "Digite una dirección" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("Apartado", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.APARTADO_OFC, new { htmlAttributes = new { @class = "form-control", type = "text", @placeholder = "Digite apartado" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-footer">
                        <div class="col-md-6 text-left">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Inicial", "Oficinas")">
                                <span class="fa fa-reply"></span> Regresar
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <span class="fa fa-floppy-o"></span> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>