@model IEnumerable<Comun.DreamHome.EmpleadosDTO>

@{
    ViewBag.Title = "Inicio";
}

@section styles{
    @Styles.Render("~/Content/FormularioCss")
    @Styles.Render("~/Content/bootstrapdataTablesCSS")
}

@section scripts{
    @Scripts.Render("~/bundles/FormularioJs")
    @Scripts.Render("~/bundles/jquerydataTablesJS")

    <script>
        poblarTabla("tbDatos");
    </script>
}

<section class="content-header">
    <h1>
        Empleados DreamHome
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="active">Listar</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- /.box -->
            <div class="box box-primary">
                <div class="box-header">
                    <div class="text-right">
                        <div class="col-md-6 text-left">
                            <h3 class="box-title">Lista empleados</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Crear", "Empleados")';">
                                <span class="glyphicon glyphicon-plus"></span> Nuevo
                            </button>
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    @if (ViewBag.Mensaje != null)
                    {
                        <div class="alert alert-info alert-dismissible"><h4 class="text-center"> @ViewBag.Mensaje <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></h4></div>
                        <br />
                    }
                    <table id="tbDatos" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    <p>Id Empleados</p>
                                </th>
                                <th>
                                    <p>Usuario Empresarial</p>
                                </th>
                                <th>
                                    <p>Género</p>
                                </th>
                                <th>
                                    <p>Nombres empleado</p>
                                </th>
                                <th>
                                    <p>Dirección</p>
                                </th>
                                <th>
                                    <p>Apartado</p>
                                </th>
                                <th>
                                    <p>Fecha creación</p>
                                </th>
                                <th>
                                    <p>Historial Laboral</p>
                                </th>
                                <th>
                                    <p>Datos de contacto</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="glyphicon glyphicon-align-center"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="@Url.Action("Crear", "HistorialLaboral", new { _idEmpleado = item.ID_EMPLEADO })"><i class="fa fa-pencil-square-o"></i> Agregar historia laboral</a></li>
                                            <li><a href="@Url.Action("Crear", "ContactosEmpleados", new { _idEmpleado = item.ID_EMPLEADO })"><i class="fa fa-pencil-square-o"></i> Agregar datos de contacto</a></li>
                                            <li><a href="@Url.Action("Editar", "Empleados", new { _id = item.ID_EMPLEADO })"><i class="fa fa-refresh"></i> Actualizar</a></li>
                                            <li><a href="@Url.Action("Eliminar", "Empleados", new { _id = item.ID_EMPLEADO })"><i class="fa fa-trash"></i> Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>@item.ID_EMPLEADO</td>
                                <td>@item.USUARIO</td>
                                <td>@item.GENERO</td>
                                <td>@item.NOMBRE_RH</td>
                                <td>@item.DIRECCION_RH</td>
                                <td>@item.APARTADO_RH</td>
                                <td>@item.FECHA_RH</td>
                                <td>
                                    <ul>
                                        @foreach (var item2 in item.HistorialLaboralDTOs)
                                        {
                                            <li>@item2.CARGO - @item2.OFICINA  &nbsp &nbsp<a style="cursor:pointer;color:blue" title="Actualizar" class="fa fa-refresh" href="@Url.Action("Editar","HistorialLaboral", new { _id = item2.ID_HISTORIAL_LABRL })"></a><b>&nbsp -  &nbsp</b><a style="cursor:pointer;color:darkred" title="Eliminar" class="fa fa-close" href="@Url.Action("Eliminar","HistorialLaboral", new { _id = item2.ID_HISTORIAL_LABRL })"></a></li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var item2 in item.ContactosEmpleadosDTOs)
                                        {
                                            <li>@item2.TIPO_CONTACTO: @item2.DATO_CNTCT_EMP  &nbsp &nbsp<a style="cursor:pointer;color:blue" title="Actualizar" class="fa fa-refresh" href="@Url.Action("Editar","ContactosEmpleados", new { _id = item2.ID_CONTACTO_EMPLEADO })"></a><b>&nbsp -  &nbsp</b><a style="cursor:pointer;color:darkred" title="Eliminar" class="fa fa-close" href="@Url.Action("Eliminar","ContactosEmpleados", new { _id = item2.ID_CONTACTO_EMPLEADO })"></a></li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</section>